!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
nb-configuration.xml
nbactions.xml

### VS CODE ###
.vscode
.directory

/backend/login/target/

/backend/controle/target/
/backend/controle/src/main/resources/static/
/backend/controle/*.iml

/frontend/controle/node_modules/
/frontend/controle/dist/
/frontend/controle/.angular/
/frontend/controle/*.iml
/frontend/controle/.npmrc

/backend/portal/target/
/backend/portal/src/main/resources/static/
/backend/portal/*.iml

/frontend/portal/node_modules/
/frontend/portal/dist/
/frontend/portal/.angular/
/frontend/portal/*.iml
/frontend/portal/.npmrc

/backend/equipe/target/
/backend/equipe/src/main/resources/static/
/backend/equipe/*.iml

/frontend/equipe/node_modules/
/frontend/equipe/dist/
/frontend/equipe/.angular/
/frontend/equipe/*.iml
/frontend/equipe/.npmrc

/backend/core/target/
/backend/api/target/

.ansible/ansible.log
