!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
nb-configuration.xml
nbactions.xml

### VS CODE ###
.vscode
.directory

/login/target/
/backend/target/
/backend/src/main/resources/static/
/backend/backend.iml
/frontend/node_modules/
/frontend/.angular/
/frontend/frontend.iml
