<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/pagina-inicial"><i class="bi bi-house-door"></i></a></li>
    <li class="breadcrumb-item"><a routerLink="/sistema/pesquisar">Sistemas</a></li>
    <li class="breadcrumb-item active">Cadastro</li>
  </ol>
</nav>

<div class="container">
  <div class="col-12 col-md-8 offset-md-2">
    <div class="card border border-primary rounded shadow-lg">
      <div class="card-header">
        <nav class="nav nav-pills" id="nav-principal">
          <button class="nav-link active fw-bold"
                  id="nav-principal-dados-cadastrais"
                  data-bs-toggle="tab"
                  data-bs-target="#nav-conteudo-dados-cadastrais"
                  type="button"
                  role="tab">
            DADOS CADASTRAIS
          </button>
          <button class="nav-link fw-bold {{ this.incluir ? 'disabled' : '' }}"
                  id="nav-principal-perfis"
                  data-bs-toggle="tab"
                  data-bs-target="#nav-conteudo-perfis"
                  type="button"
                  role="tab">
            PERFIS
          </button>
          <button class="nav-link fw-bold {{ this.incluir ? 'disabled' : '' }}"
                  id="nav-principal-ambientes"
                  data-bs-toggle="tab"
                  data-bs-target="#nav-conteudo-ambientes"
                  type="button"
                  role="tab">
            AMBIENTES
          </button>
        </nav>
        <p class="form-text ms-1 fst-italic" *ngIf="!incluir">
          Incluído por {{ sistema?.usuarioCadastro }} em {{ sistema?.dataCadastro | date: "EEEE, dd 'de' MMMM 'de' yyyy 'às' HH:mm" }}<br/>
          <span *ngIf="sistema?.dataUltimaAtualizacao != null">
            Alterado por {{ sistema.usuarioUltimaAtualizacao }} em {{ sistema.dataUltimaAtualizacao | date: "EEEE, dd 'de' MMMM 'de' yyyy 'às' HH:mm" }}
          </span>
        </p>
      </div>
      <div class="card-body">
        <div class="tab-content" id="nav-conteudo">
          <div class="tab-pane fade show active"
               id="nav-conteudo-dados-cadastrais"
               role="tabpanel"
               aria-labelledby="nav-conteudo-dados-cadastrais">
            <form [formGroup]="form" [ngClass]="{'was-validated': !form.valid && formEnviado}">
              <div class="row mb-3">
                <div class="form-group col-12 col-md-6">
                  <label>* Identificador</label>
                  <input type="text" name="identificador" formControlName="identificador" class="form-control" required>
                  <div class="form-text fst-italic">Informe um identificador único para o sistema (ex: br.com.dominio.sistema)</div>
                  <div class="invalid-feedback">Identificador é um campo obrigatório</div>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label>* Empresa</label>
                  <select [compareWith]="empresaService.compareFn" formControlName="empresa" class="form-select" required>
                    <option *ngFor="let empresa of listaEmpresas" [ngValue]="empresa">
                      {{ empresa.razaoSocial }}
                    </option>
                  </select>
                  <div class="invalid-feedback">Empresa é um campo obrigatório</div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="form-group col-12 col-md-12">
                  <label>* Nome</label>
                  <input type="text" name="nome" formControlName="nome" class="form-control" required>
                  <div class="invalid-feedback">Nome é um campo obrigatório</div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="form-group col-12">
                  <label>* Descrição</label>
                  <textarea name="descricao" formControlName="descricao" class="form-control" rows="3" required></textarea>
                  <div class="invalid-feedback">Descrição é um campo obrigatório</div>
                </div>
              </div>
              <div class="row mb-3 align-items-end">
                <div class="col-9">
                  <label for="formFile" class="form-label">Ícone</label>
                  <input type="file" class="form-control" (change)="atualizarIcone($event)" accept="image/*" id="formFile"/>
                </div>
                <div class="col-3 text-center">
                  <img src="{{ this.iconeUpload.base64 && this.iconeUpload.base64.length > 0 ? this.iconeUpload.base64 : '/assets/images/sem-imagem.gif' }}" width="60" height="60" class="rounded-circle">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-12 text-center p-2">
                  <button class="btn btn-primary" (click)="gravar()"><i class="bi bi-floppy"></i> Gravar</button>
                </div>
              </div>
            </form>
          </div>
          <div class="tab-pane fade show"
               id="nav-conteudo-perfis"
               role="tabpanel"
               aria-labelledby="nav-conteudo-perfis">
            <form [formGroup]="formPerfil" [ngClass]="{'was-validated': !formPerfil.valid && formPerfilEnviado}">
              <div class="row mb-3">
                <div class="form-group col-12 col-md-4">
                  <label>* Nome</label>
                  <input type="text" name="nomePerfil" formControlName="authority" class="form-control text-uppercase" required>
                  <div class="invalid-feedback">Campo nome do perfil é obrigatório</div>
                </div>
                <div class="form-group col-12 col-md-8">
                  <label>* Descrição</label>
                  <input type="text" name="descricaoPerfil" formControlName="descricao" class="form-control" required>
                  <div class="invalid-feedback">Campo descrição do perfil é obrigatório</div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-12 text-center">
                  <button class="btn btn-primary" (click)="gravarPerfil()"><i class="bi bi-floppy"></i> Adicionar</button>
                </div>
              </div>
              <br>
              <div class="row mb-3">
                <div class="col-12 col-md-12 table-responsive">
                  <table class="table table-styling table-striped align-middle table-sm table-bordered">
                    <thead>
                      <tr>
                        <th class="fw-bold" scope="col">Nome</th>
                        <th class="fw-bold" scope="col">Descrição</th>
                        <th class="fw-bold text-center" scope="col">Excluir?</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let perfil of this.perfis">
                        <td>{{ perfil.authority }}</td>
                        <td>{{ perfil.descricao }}</td>
                        <td class="text-center">
                          <button class="btn btn-danger btn-sm" (click)="excluirPerfil(perfil)"><i class="bi bi-trash"></i></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </form>
          </div>
          <div class="tab-pane fade show"
               id="nav-conteudo-ambientes"
               role="tabpanel"
               aria-labelledby="nav-conteudo-ambientes">
            <form [formGroup]="formAmbiente" [ngClass]="{'was-validated': !formAmbiente.valid && formAmbienteEnviado}">
              <div class="row mb-3">
                <div class="form-group col-12 col-md-12">
                  <label>* Tipo de Ambiente</label>
                  <div class="m-t-15 m-checkbox-inline mb-0 custom-radio-ml ml-2">
                    <div class="form-check form-check-inline" *ngFor="let t of tiposAmbientes; let ultimo = last">
                      <input type="radio" class="form-check-input" id="tipo_{{ t }}" name="tipo" formControlName="tipo" [value]="t" required/>
                      <label for="tipo_{{ t }}" class="mb-0">{{ enumTipoAmbiente[t] }}</label>
                      <span *ngIf="ultimo" class="invalid-feedback">Tipo de ambiente é um campo obrigatório</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="form-group col-12 col-md-12">
                  <label>* Descrição</label>
                  <input type="text" name="descricaoAmbiente" formControlName="descricao" class="form-control" required>
                  <div class="invalid-feedback">Campo descrição do ambiente é obrigatório</div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="form-group col-12 col-md-12">
                  <label>* URL de Acesso (frontend)</label>
                  <input type="text" name="urlAcesso" formControlName="urlAcesso" class="form-control" required>
                  <div class="invalid-feedback">Campo url de acesso ao frontend é obrigatório</div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="form-group col-12 col-md-12">
                  <label>* Redirect URIs</label>
                  <input type="text" name="redirectUris" formControlName="redirectUris" class="form-control" required>
                  <div class="form-text fst-italic">Cliente do spring-boot: http://servidor/authorized,http://servidor/login/oauth2/code/{{ sistema.identificador }}</div>
                  <div class="invalid-feedback">Campo redirect uris é obrigatório</div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="form-group col-12 col-md-12">
                  <label>* Logout URIs</label>
                  <input type="text" name="postLogoutRedirectUris" formControlName="postLogoutRedirectUris" class="form-control" required>
                  <div class="invalid-feedback">Campo URI de logout é obrigatório</div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-12 text-center p-2">
                  <button class="btn btn-primary" (click)="gravarAmbiente()"><i class="bi bi-floppy"></i> Adicionar</button>
                </div>
              </div>
              <br>
              <div class="row mb-3">
                <div class="col-12 col-md-12 table-responsive">
                  <table class="table table-styling table-striped align-middle table-sm table-bordered">
                    <thead>
                      <tr>
                        <th class="fw-bold text-center" scope="col">Excluir?</th>
                        <th class="fw-bold" scope="col">Spring Boot</th>
                        <th class="fw-bold" scope="col">Dados</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let ambiente of this.ambientes">
                        <td class="text-center">
                          <button class="btn btn-danger btn-sm" (click)="excluirAmbiente(ambiente)"><i class="bi bi-trash"></i></button>
                        </td>
                        <td>
                          <pre><code>
spring:
  security:
    oauth2:
      client:
        registration:
          "[{{ ambiente.sistema.identificador }}]":
            provider: com.github.andrepenteado.sso.portal
            client-name: {{ ambiente.sistema.nome }}
            client-id: {{ ambiente.clientId }}
            client-secret: *************
            authorization-grant-type: authorization_code
            scope: openid
            redirect-uri: "&#123;baseUrl&#125;/login/oauth2/code/&#123;registrationId&#125;"
            client-authentication-method: client_secret_basic
        provider:
          "[com.github.andrepenteado.sso.portal]":
            issuer-uri: {{ ambiente.uriProvider }}
                          </code></pre>
                        </td>
                        <td>
                          <pre><code>
Descrição:    {{ ambiente.descricao }}
Tipo:         {{ ambiente.tipo }}
URL Acesso:   {{ ambiente.urlAcesso }}
URL Logout:   {{ ambiente.postLogoutRedirectUris }}
URL Redirect: {{ ambiente.redirectUris }}
                          </code></pre>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>
