<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <!-- Nome da aplicação -->
    <contextName>portal</contextName>

    <!-- Log para console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%cyan(%d{"dd/MM/yyyy HH:mm:ss,SSS"}) %magenta(portal) %green(%X{IP:-0.0.0.0}) %yellow(%X{USUARIO:-anônimo}) %highlight(%level %msg) %ex %class %n</pattern>
        </encoder>
    </appender>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>http://cluster.apcode.com.br:3100/loki/api/v1/push</url>
        </http>
        <format>
            <label>
                <pattern>app=apsso,module=portal,host=${HOSTNAME},level=%level,class=%class,user=%X{USUARIO:-anônimo},traceId=%X{traceId:-},spanId=%X{spanId:-}</pattern>
            </label>
            <message>
                <pattern>%magenta(portal) %green(%X{IP:-0.0.0.0}) %yellow(%X{USUARIO:-anônimo}) %highlight(%level %msg) %ex %class</pattern>
            </message>
            <sortByTime>true</sortByTime>
        </format>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="LOKI" />
    </root>

</configuration>
