<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/pagina-inicial"><i class="bi bi-house-door"></i></a></li>
      <li class="breadcrumb-item"><a routerLink="/sistema/pesquisar">Sistemas</a></li>
      <li class="breadcrumb-item active">Cadastro</li>
    </ol>
  </nav>

  <div class="card border border-primary rounded shadow-lg">
    <div class="card-header">
      <nav class="nav nav-pills" id="nav-principal">
        <button class="nav-link active fw-bold"
                id="nav-principal-dados-cadastrais"
                data-bs-toggle="tab"
                data-bs-target="#nav-conteudo-dados-cadastrais"
                type="button"
                role="tab">
          DADOS CADASTRAIS
        </button>
        <button class="nav-link fw-bold"
                id="nav-principal-perfis"
                data-bs-toggle="tab"
                data-bs-target="#nav-conteudo-perfis"
                type="button"
                role="tab">
          PERFIS
        </button>
      </nav>
      <p class="form-text ms-1 fst-italic">
        {{ dataCadastro | date: "'Cadastrado desde ' EEEE, dd 'de' MMMM 'de' yyyy 'às' HH:mm" }}<br/>
        {{ dataUltimaModificacao | date: "'Modificado em ' EEEE, dd 'de' MMMM 'de' yyyy 'às' HH:mm" }}
      </p>
    </div>
    <form [formGroup]="form" [ngClass]="{'was-validated': !form.valid && formEnviado}">
      <div class="card-body">
        <div class="tab-content" id="nav-conteudo-dados-cadastrais">
          <div class="tab-pane fade show active"
               id="nav-tab-dados-cadastrais"
               role="tabpanel"
               aria-labelledby="nav-conteudo-dados-cadastrais">
            <div class="row mb-3">
              <div class="form-group col-12 col-md-4">
                <label>* Sigla</label>
                <input type="text" name="id" formControlName="id" class="form-control" required="true">
                <div class="invalid-feedback">Campo sigla é obrigatório</div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="form-group col-12 col-md-6">
                <label>* Descrição</label>
                <input type="text" name="descricao" formControlName="descricao" class="form-control" required="true">
                <div class="invalid-feedback">Campo descrição é obrigatório</div>
              </div>
              <div class="form-group col-12 col-md-6">
                <label>URL de Entrada</label>
                <input type="text" name="urlEntrada" formControlName="urlEntrada" class="form-control">
              </div>
            </div>
            <div class="row mb-3">
              <div class="form-group col-12 col-md-6">
                <label>Client ID</label>
                <input type="text" name="clientId" formControlName="clientId" class="form-control">
              </div>
              <div class="form-group col-12 col-md-6">
                <label>Client Secret</label>
                <div class="input-group">
                  <input type="password" name="clientSecret" formControlName="clientSecret" class="form-control" required="true">
                  <button class="btn btn-outline-primary" type="button" id="btn-habilitar-client-secret" (click)="habilitarClientSecret()"><i class="fa fa-unlock-alt fa-lg"></i></button>
                  <div class="invalid-feedback">Client Secret é obrigatório</div>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-12 text-center">
                <button class="btn btn-primary" (click)="gravar()"><i class="fa fa-save fa-lg"></i> Gravar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <form [formGroup]="formPerfil" [ngClass]="{'was-validated': !formPerfil.valid && formPerfilEnviado}">
      <div class="card-body">
        <div class="tab-content" id="nav-conteudo-perfis">
          <div class="tab-pane fade show"
               id="nav-tab-perfis"
               role="tabpanel"
               aria-labelledby="nav-conteudo-perfis">
            <div class="row mb-3">
              <div class="form-group col-12 col-md-4">
                <label>* Nome</label>
                <input type="text" name="nomePerfil" formControlName="authority" class="form-control text-uppercase" required="true">
                <div class="invalid-feedback">Campo nome do perfil é obrigatório</div>
              </div>
              <div class="form-group col-12 col-md-8">
                <label>* Descrição</label>
                <input type="text" name="descricaoPerfil" formControlName="descricao" class="form-control" required="true">
                <div class="invalid-feedback">Campo descrição do perfil é obrigatório</div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-12 text-center">
                <button class="btn btn-primary" (click)="gravarPerfil()"><i class="fa fa-save fa-lg"></i> Adicionar</button>
              </div>
            </div>
            <br>
            <div class="row mb-3">
              <div class="col-12 col-md-12 table-responsive">
                <table class="table table-sm table-bordered">
                  <thead>
                  <tr>
                    <th class="fw-bold" scope="col">Nome</th>
                    <th class="fw-bold" scope="col">Descrição</th>
                    <th class="fw-bold text-center" scope="col">Excluir?</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let perfil of this.perfis">
                    <td>{{ perfil.authority }}</td>
                    <td>{{ perfil.descricao }}</td>
                    <td class="text-center">
                      <a href="javascript:" (click)="$event.preventDefault();excluirPerfil(perfil)" class="text-danger"><i class="bi bi-trash"></i></a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
