<nav aria-label="breadcrumb" style="margin-top: -23px">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/pagina-inicial"><i class="bi bi-house-door"></i></a></li>
    <li class="breadcrumb-item"><a routerLink="/sistema/pesquisar">Sistemas</a></li>
    <li class="breadcrumb-item active">Cadastro</li>
  </ol>
</nav>

<div class="container">
  <div class="card border border-primary rounded shadow-lg">
    <div class="card-header">
      <nav class="nav nav-pills" id="nav-principal">
        <button class="nav-link active fw-bold"
                id="nav-principal-dados-cadastrais"
                data-bs-toggle="tab"
                data-bs-target="#nav-conteudo-dados-cadastrais"
                type="button"
                role="tab">
          DADOS CADASTRAIS
        </button>
        <button class="nav-link fw-bold {{ this.sistema == null ? 'disabled' : '' }}"
                id="nav-principal-perfis"
                data-bs-toggle="tab"
                data-bs-target="#nav-conteudo-perfis"
                type="button"
                role="tab">
          PERFIS
        </button>
      </nav>
      <p class="form-text ms-1 fst-italic" *ngIf="!incluir">
        Incluído por {{ sistema.usuarioCadastro }} em {{ sistema.dataCadastro | date: "EEEE, dd 'de' MMMM 'de' yyyy 'às' HH:mm" }}<br/>
        <span *ngIf="sistema.dataUltimaAtualizacao != null">
          Alterado por {{ sistema.usuarioUltimaAtualizacao }} em {{ sistema.dataUltimaAtualizacao | date: "EEEE, dd 'de' MMMM 'de' yyyy 'às' HH:mm" }}
        </span>
      </p>
    </div>
    <div class="card-body">
      <div class="tab-content" id="nav-conteudo">
        <div class="tab-pane fade show active"
             id="nav-conteudo-dados-cadastrais"
             role="tabpanel"
             aria-labelledby="nav-conteudo-dados-cadastrais">
          <form [formGroup]="form" [ngClass]="{'was-validated': !form.valid && formEnviado}">
            <div class="row mb-3">
              <div class="form-group col-12 col-md-4">
                <label>* Sigla</label>
                <input type="text" name="id" formControlName="id" class="form-control" required>
                <div class="invalid-feedback">Campo sigla é obrigatório</div>
              </div>
              <div class="form-group col-12 col-md-8">
                <label>* Descrição</label>
                <input type="text" name="descricao" formControlName="descricao" class="form-control" required>
                <div class="invalid-feedback">Campo descrição é obrigatório</div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="form-group col-12">
                <label>URLs de Entrada</label>
                <textarea name="urlEntrada" formControlName="urlEntrada" class="form-control" rows="3"></textarea>
                <div class="form-text fst-italic">Separe por ponto e vírgulas as URLs</div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="form-group col-12 col-md-6">
                <label>Client ID</label>
                <input type="text" name="clientId" formControlName="clientId" class="form-control">
              </div>
              <div class="form-group col-12 col-md-6">
                <label>Client Secret</label>
                <div class="input-group">
                  <input type="password" name="clientSecret" formControlName="clientSecret" class="form-control" required>
                  <button class="btn btn-outline-primary" type="button" id="btn-habilitar-client-secret" (click)="habilitarClientSecret()"><i class="bi bi-unlock"></i></button>
                  <div class="invalid-feedback">Client Secret é obrigatório</div>
                </div>
              </div>
            </div>
            <div class="row mb-3 align-items-end">
              <div class="col-9">
                <label for="formFile" class="form-label">Ícone</label>
                <input type="file" class="form-control" (change)="atualizarIcone($event)" accept="image/*" id="formFile"/>
              </div>
              <div class="col-3 text-center">
                <img src="{{ this.form.controls.iconeBase64.value }}" width="60" height="60" class="rounded-circle">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-12 text-center">
                <button class="btn btn-primary" (click)="gravar()"><i class="bi bi-floppy"></i> Gravar</button>
              </div>
            </div>
          </form>
        </div>
        <div class="tab-pane fade show"
             id="nav-conteudo-perfis"
             role="tabpanel"
             aria-labelledby="nav-conteudo-perfis">
          <form [formGroup]="formPerfil" [ngClass]="{'was-validated': !formPerfil.valid && formPerfilEnviado}">
            <div class="row mb-3">
              <div class="form-group col-12 col-md-4">
                <label>* Nome</label>
                <input type="text" name="nomePerfil" formControlName="authority" class="form-control text-uppercase" required>
                <div class="invalid-feedback">Campo nome do perfil é obrigatório</div>
              </div>
              <div class="form-group col-12 col-md-8">
                <label>* Descrição</label>
                <input type="text" name="descricaoPerfil" formControlName="descricao" class="form-control" required>
                <div class="invalid-feedback">Campo descrição do perfil é obrigatório</div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-12 text-center">
                <button class="btn btn-primary" (click)="gravarPerfil()"><i class="bi bi-floppy"></i> Adicionar</button>
              </div>
            </div>
            <br>
            <div class="row mb-3">
              <div class="col-12 col-md-12 table-responsive">
                <table class="table table-styling table-striped align-middle table-sm table-bordered">
                  <thead>
                  <tr>
                    <th class="fw-bold" scope="col">Nome</th>
                    <th class="fw-bold" scope="col">Descrição</th>
                    <th class="fw-bold text-center" scope="col">Excluir?</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let perfil of this.perfis">
                    <td>{{ perfil.authority }}</td>
                    <td>{{ perfil.descricao }}</td>
                    <td class="text-center">
                      <button class="btn btn-danger btn-sm" (click)="excluirPerfil(perfil)"><i class="bi bi-trash"></i></button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
