<apcore-widget-floating-button (click)="incluir()"><i class="bi bi-plus-lg fs-2"></i></apcore-widget-floating-button>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="margin-top: -23px">
    <li class="breadcrumb-item"><a routerLink="/pagina-inicial"><i class="bi bi-house-door"></i></a></li>
    <li class="breadcrumb-item active">Usuários</li>
  </ol>
</nav>

<div class="container">
  <div class="card border border-primary rounded shadow-lg">

    <ngx-loading [show]="aguardar" [config]="{ primaryColour: '#dd0031', secondaryColour: '#fff', animationType: ngxLoadingAnimationTypes.doubleBounce }"></ngx-loading>

    <div class="card-body custom-datatable table-responsive table-border-radius">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-styling table-striped align-middle">
        <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Nome</th>
          <th scope="col" class="text-center">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let usuario of this.lista ">
          <td>{{ usuario.username }}</td>
          <td>{{ usuario.nome }}</td>
          <td class="text-center">
            <div class="btn-group">
              <button class="btn btn-success btn-sm" (click)="editar(usuario)"><i class="bi bi-pencil"></i></button>
              <button class="btn btn-danger btn-sm" (click)="excluir(usuario)"><i class="bi bi-trash"></i></button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
