<app-loader [show]="this.aguardar"></app-loader>

<app-breadcrumb
  [title]="'Cadastro de Usuários'"
  [items]="[ ['Usuários','/usuario/pesquisar'] ]"
  [active_item]="'Cadastro'">
</app-breadcrumb>

<div class="d-flex">
  <ul ngbNav #nav="ngbNav" animation="true" class="nav-pills" orientation="vertical">
    <li ngbNavItem="dados-cadastrais">
      <a ngbNavLink>Dados Cadastrais</a>
      <ng-template ngbNavContent>
        <form [formGroup]="formUsuario" [ngClass]="{'was-validated': !formUsuario.valid && formEnviado}">
          <div class="col-12 col-md-8 offset-md-2">
            <div class="card border border-primary rounded shadow-lg">
              <div class="card-header">
                <h5 class="card-title">Dados Cadastrais</h5>
                <span>{{ dataCadastro | date: "'Cadastrado desde ' EEEE, dd 'de' MMMM 'de' yyyy 'às' HH:mm" }}</span>
                <span>{{ dataUltimaModificacao | date: "'Modificado em ' EEEE, dd 'de' MMMM 'de' yyyy 'às' HH:mm" }}</span>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="form-group col-12 col-md-6">
                    <label>* Login</label>
                    <input type="text" name="username" formControlName="username" class="form-control" required="true">
                    <div class="invalid-feedback">Campo login é obrigatório</div>
                  </div>
                  <div class="form-group col-12 col-md-6">
                    <label>Senha</label>
                    <div class="input-group">
                      <input type="password" name="password" formControlName="password" class="form-control" required="true" disabled>
                      <button class="btn btn-outline-primary" type="button" id="btn-habilitar-client-secret" (click)="habilitarSenha()"><i class="fa fa-unlock-alt fa-lg"></i></button>
                      <div class="invalid-feedback">Senha é um campo obrigatório</div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-12 col-md-12">
                    <label>Nome</label>
                    <input type="text" name="nome" formControlName="nome" class="form-control">
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-12 text-center">
                    <button class="btn btn-primary" (click)="gravar()"><i class="fa fa-save fa-lg"></i> Gravar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </ng-template>
    </li>
    <li ngbNavItem="perfis" [disabled]="this.incluir">
      <a ngbNavLink>Perfis</a>
      <ng-template ngbNavContent>
        <form [formGroup]="formPerfis">
          <div class="col-12 col-md-8 offset-md-2">
            <div class="card border border-primary rounded shadow-lg">
              <div class="card-header">
                <h5 class="card-title">Selecione os perfis a serem habilitados</h5>
              </div>
              <div class="card-body">
                <div class="row" *ngFor="let control of this.arrayPerfis.controls; let i = index">
                  <div class="col-12 col-md-12">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" [formControl]="control" role="switch" id="flexSwitchCheckDefault">
                      <label class="form-check-label" for="flexSwitchCheckDefault">{{ this.listaPerfis[i].sistema.id }}: {{ this.listaPerfis[i].descricao }}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-12 text-center">
                    <button class="btn btn-primary" (click)="gravarPerfis()"><i class="fa fa-save fa-lg"></i> Gravar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="ms-4 col-10"></div>
</div>

<ap-exibe-mensagem #exibeMensagem></ap-exibe-mensagem>
