<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <contextName>login</contextName>

    <property name="APP" value="apsso" />
    <property name="MODULE" value="login" />

    <!-- Log para console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%cyan(%d{"dd/MM/yyyy HH:mm:ss,SSS"}) %magenta(${MODULE}) %green(%X{IP:-0.0.0.0}) %yellow(%X{USUARIO:-anônimo}) %highlight(%level %msg) %ex %class %n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
