<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/pagina-inicial"><i class="bi bi-house-door"></i></a></li>
    <li class="breadcrumb-item"><a routerLink="/unidade-administrativa/pesquisar">Unidades Administrativas</a></li>
    <li class="breadcrumb-item active">Cadastro</li>
  </ol>
</nav>

<div class="container">
  <div class="col-12 col-md-8 offset-md-2">
    <form [formGroup]="form" [ngClass]="{'was-validated': !form.valid && formEnviado}">
      <div class="card border border-primary rounded shadow-lg">
        <div class="card-header">
          <nav class="nav nav-pills" id="nav-principal">
            <button class="nav-link active fw-bold"
                    id="nav-principal-dados-cadastrais"
                    data-bs-toggle="tab"
                    data-bs-target="#nav-conteudo-dados-cadastrais"
                    type="button"
                    role="tab">
              DADOS CADASTRAIS
            </button>
          </nav>
        </div>
        <div class="card-body">
          <div class="tab-content" id="nav-conteudo">
            <div class="tab-pane fade show active"
                 id="nav-conteudo-dados-cadastrais"
                 role="tabpanel"
                 aria-labelledby="nav-conteudo-dados-cadastrais">
              <div class="row mb-3">
                <div class="form-group col-12 col-md-8">
                  <label>* Nome</label>
                  <input type="text" name="nome" formControlName="nome" class="form-control" required="true">
                  <div class="invalid-feedback">Nome é um campo obrigatório</div>
                </div>
                <div class="form-group col-12 col-md-4">
                  <label>* Empresa</label>
                  <select [compareWith]="empresaService.compareFn" formControlName="empresa" class="form-select" required>
                    <option *ngFor="let empresa of listaEmpresas" [ngValue]="empresa">
                      {{ empresa.nomeFantasia }}
                    </option>
                  </select>
                  <div class="invalid-feedback">Empresa é um campo obrigatório</div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="form-group col-12 col-md-12">
                  <label>* Tipo</label>
                  <div class="m-t-15 m-checkbox-inline mb-0 custom-radio-ml ml-2">
                    <div class="form-check form-check-inline" *ngFor="let t of tipos; let ultimo = last">
                      <input type="radio" class="form-check-input" id="tipo_{{ t }}" name="tipo" formControlName="tipo" [value]="t" required/>
                      <label for="tipo_{{ t }}" class="mb-0">{{ enumTipo[t] }}</label>
                      <span *ngIf="ultimo" class="invalid-feedback">Tipo é um campo obrigatório</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-12 text-center">
                  <button class="btn btn-primary" (click)="gravar()"><i class="bi bi-floppy"></i> Gravar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br><br>
    </form>
  </div>
</div>
